Repository NillionNetwork/client-ts: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, tsc-check

biome-check:
  run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

tsc-check:
  run: pnpm exec tsc
  stage_fixed: true

ci: add AWS credentials so `nilup` can access rc builds
  .github/workflows/ci.yaml
  client-react-hooks/tsconfig.json
  client-vms/tests/helpers.ts
Due: biome-check, tsc-check

feat: replace `jest` with `vitest`
  client-vms/.env.test
  client-vms/jest.config.ts
  client-vms/package.json
  client-vms/src/auth.test.ts
  client-vms/src/auth.ts
  client-vms/src/payment/builder.ts
  client-vms/src/payment/client.ts
  client-vms/src/types/compute-permission-command.ts
  client-vms/src/types/permission-command.ts
  client-vms/src/types/types.ts
  client-vms/src/types/user-id.ts
  client-vms/src/types/values-permissions.ts
  client-vms/src/vm/builder.ts
  client-vms/src/vm/client.ts
  client-vms/src/vm/operation/delete-values.ts
  client-vms/src/vm/operation/invoke-compute.ts
  client-vms/src/vm/operation/overwrite-permissions.ts
  client-vms/src/vm/operation/query-pool-status.ts
  client-vms/src/vm/operation/retrieve-compute-result.ts
  client-vms/src/vm/operation/retrieve-permissions.ts
  client-vms/src/vm/operation/retrieve-values.ts
  client-vms/src/vm/operation/store-program.ts
  client-vms/src/vm/operation/store-values.ts
  client-vms/src/vm/operation/update-permissions.ts
  client-vms/tests/client.test.ts
  client-vms/tests/helpers.ts
  client-vms/tests/payments.test.ts
  client-vms/tests/wasm.test.ts
  client-vms/tsconfig.json
  client-vms/vitest.config.ts
  client-wasm/package.json
  justfile
  lefthook.yml
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: biome-check, tsc-check

ci(client-vms): enable tests
  .github/workflows/ci.yaml
Due: none

refactor: lift test nada programs for improved visibility
  .github/workflows/ci.yaml
  client-vms/tests-nada-programs/build.sh
  client-vms/tests-nada-programs/requirements.txt
  client-vms/tests-nada-programs/src/addition_division.py
  client-vms/tests-nada-programs/src/simple_shares.py
  client-vms/tests/helpers.ts
Due: biome-check, tsc-check

ci(client-vms): enable test coverage report
  .github/workflows/ci.yaml
  client-vms/package.json
  pnpm-lock.yaml
Due: biome-check

test(client-vms): include `@types/node` package
  client-vms/package.json
  pnpm-lock.yaml
Due: biome-check

ci(client-vms): surface test coverage report
  .github/workflows/ci.yaml
  client-vms/vitest.config.ts
Due: biome-check, tsc-check

feat(client-vms): add `ProgramName` domain type
  client-vms/src/types/types.ts
  client-vms/src/vm/operation/store-program.ts
Due: biome-check, tsc-check

feat(client-vms): replace `debug` logger with `pino`
  client-vms/package.json
  client-vms/src/logger.ts
  client-vms/src/payment/client.ts
  client-vms/src/vm/operation/retrieve-compute-result.ts
  pnpm-lock.yaml
Due: biome-check, tsc-check

feat(vms): add `retryGrpcRequestIfRecoverable` helper function
  client-vms/package.json
  client-vms/src/vm/operation/retry-client.ts
  client-vms/tests/retry.test.ts
  pnpm-lock.yaml
Due: biome-check, tsc-check

feat(vms): update all ops to use retry client and effects
  client-vms/src/util.ts
  client-vms/src/vm/operation/delete-values.ts
  client-vms/src/vm/operation/invoke-compute.ts
  client-vms/src/vm/operation/overwrite-permissions.ts
  client-vms/src/vm/operation/query-pool-status.ts
  client-vms/src/vm/operation/retrieve-compute-result.ts
  client-vms/src/vm/operation/retrieve-permissions.ts
  client-vms/src/vm/operation/retrieve-values.ts
  client-vms/src/vm/operation/store-program.ts
  client-vms/src/vm/operation/store-values.ts
  client-vms/src/vm/operation/update-permissions.ts
  client-vms/tests/client.test.ts
Due: biome-check, tsc-check

fix(client-vms): properly convert permissions Set to Array before mapping
  client-vms/src/types/values-permissions.ts
Due: biome-check, tsc-check

fix(vm): remove unnecessary `@nillion/client-wasm` from tsconfig to fix esbuild
  client-vms/tsconfig.json
Due: biome-check

feat(wasm): use `await import("./index_bg.wasm")` to support node and web with a single bundle
  client-wasm/dist/index.d.ts
  client-wasm/dist/index.js
  client-wasm/dist/index_bg.js
  client-wasm/dist/index_bg.wasm
  client-wasm/dist/index_bg.wasm.d.ts
  client-wasm/package.json
Due: biome-check, tsc-check

refactor: drop esbuild.base.config.mjs and use per-project configs
  client-react-hooks/esbuild.config.mjs
  client-vms/esbuild.config.mjs
  esbuild.base.config.mjs
Due: biome-check

fix(vm): always set default permissions on `StoreValuesBuilder` instantiation
  client-vms/src/vm/operation/store-values.ts
Due: biome-check, tsc-check

test(vm): add `update values` test
  client-vms/tests/client.test.ts
Due: biome-check, tsc-check

feat(vm): sanitise PoolStatus grpc response
  client-vms/src/vm/operation/query-pool-status.ts
Due: biome-check, tsc-check

feat(vm): add `toJson` helper for `ValuesPermissions`
  client-vms/src/types/values-permissions.ts
Due: biome-check, tsc-check

fix(vm): use `Uuid.parse` for string to `Uint8Array` serialization
  client-vms/src/vm/operation/store-values.ts
Due: biome-check, tsc-check

feat(vm): `queryPoolStatus` returns builder rather than `Promise<PoolStatus>`
  client-vms/src/vm/client.ts
Due: biome-check, tsc-check

refactor(vms): use `index.ts` files to simply imports/exports
  client-vms/src/index.ts
  client-vms/src/payment/index.ts
  client-vms/src/types/index.ts
  client-vms/src/vm/index.ts
  client-vms/src/vm/operation/index.ts
  client-vms/tests/payments.test.ts
  client-vms/tests/wasm.test.ts
Due: biome-check, tsc-check

chore: enable type checking in config files
  client-react-hooks/esbuild.config.mjs
  client-vms/esbuild.config.mjs
Due: biome-check

refactor(hooks)!: migrate react hooks to grpc-based client-vms
  README.md
  biome.jsonc
  client-react-hooks/package.json
  client-react-hooks/src/cache-key.ts
  client-react-hooks/src/create-client.ts
  client-react-hooks/src/index.ts
  client-react-hooks/src/logging.ts
  client-react-hooks/src/nil-hook-base.ts
  client-react-hooks/src/nillion-provider.tsx
  client-react-hooks/src/query-cache.ts
  client-react-hooks/src/use-nil-compute-output.ts
  client-react-hooks/src/use-nil-compute.ts
  client-react-hooks/src/use-nil-delete-value.ts
  client-react-hooks/src/use-nil-delete-values.ts
  client-react-hooks/src/use-nil-fetch-store-acl.ts
  client-react-hooks/src/use-nil-fetch-value.ts
  client-react-hooks/src/use-nil-invoke-compute.ts
  client-react-hooks/src/use-nil-overwrite-permissions.ts
  client-react-hooks/src/use-nil-pool-status.ts
  client-react-hooks/src/use-nil-retrieve-compute-results.ts
  client-react-hooks/src/use-nil-retrieve-permissions.ts
  client-react-hooks/src/use-nil-retrieve-values.ts
  client-react-hooks/src/use-nil-store-program.ts
  client-react-hooks/src/use-nil-store-value.ts
  client-react-hooks/src/use-nil-store-values.ts
  client-react-hooks/src/use-nil-update-permissions.ts
  client-react-hooks/src/use-nil-update-value.ts
  client-react-hooks/src/use-nillion-auth.ts
  client-react-hooks/src/use-nillion.ts
  client-react-hooks/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check, tsc-check

refactor: drop `examples/nextjs`
  examples/nextjs/.gitignore
  examples/nextjs/README.md
  examples/nextjs/app/components/client-wrapper.tsx
  examples/nextjs/app/components/compute-output.tsx
  examples/nextjs/app/components/compute.tsx
  examples/nextjs/app/components/delete-value.tsx
  examples/nextjs/app/components/fetch-store-acl.tsx
  examples/nextjs/app/components/fetch-value.tsx
  examples/nextjs/app/components/index.ts
  examples/nextjs/app/components/login.tsx
  examples/nextjs/app/components/set-store-acl.tsx
  examples/nextjs/app/components/store-program.tsx
  examples/nextjs/app/components/store-value.tsx
  examples/nextjs/app/components/update-value.tsx
  examples/nextjs/app/home/layout.tsx
  examples/nextjs/app/home/page.tsx
  examples/nextjs/app/layout.tsx
  examples/nextjs/app/lib/index.ts
  examples/nextjs/app/lib/theme.ts
  examples/nextjs/app/page.tsx
  examples/nextjs/next.config.mjs
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
  examples/nextjs/public/favicon.ico
  examples/nextjs/public/next.svg
  examples/nextjs/public/vercel.svg
  zexamples/nextjs/tsconfig.json
Due: biome-check, tsc-check

revert(vms): move back to `@nillion/client-vms` for imports
  client-vms/package.json
  client-vms/src/auth.test.ts
  client-vms/src/auth.ts
  client-vms/src/logger.ts
  client-vms/src/payment/builder.ts
  client-vms/src/payment/client.ts
  client-vms/src/payment/grpc-compat.ts
  client-vms/src/types/compute-permission-command.ts
  client-vms/src/types/permission-command.ts
  client-vms/src/types/types.ts
  client-vms/src/types/user-id.ts
  client-vms/src/types/values-permissions.ts
  client-vms/src/vm/builder.ts
  client-vms/src/vm/client.ts
  client-vms/src/vm/operation/delete-values.ts
  client-vms/src/vm/operation/invoke-compute.ts
  client-vms/src/vm/operation/overwrite-permissions.ts
  client-vms/src/vm/operation/query-pool-status.ts
  client-vms/src/vm/operation/retrieve-compute-result.ts
  client-vms/src/vm/operation/retrieve-permissions.ts
  client-vms/src/vm/operation/retrieve-values.ts
  client-vms/src/vm/operation/retry-client.ts
  client-vms/src/vm/operation/store-program.ts
  client-vms/src/vm/operation/store-values.ts
  client-vms/src/vm/operation/update-permissions.ts
  client-vms/tests/client.test.ts
  client-vms/tests/payments.test.ts
  client-vms/tests/retry.test.ts
  client-vms/tests/wasm.test.ts
  client-vms/tsconfig.json
Due: biome-check, tsc-check

chore(ci): remove unused `cat <file>` step
  .github/workflows/ci.yaml
Due: none

refactor(nextjs): migrate example to grpc-based client and hooks
  examples-nextjs/app/components/delete-values.tsx
  examples-nextjs/app/components/invoke-compute.tsx
  examples-nextjs/app/components/overwrite-permissions.tsx
  examples-nextjs/app/components/pool-status.tsx
  examples-nextjs/app/components/retrieve-compute-results.tsx
  examples-nextjs/app/components/retrieve-permissions.tsx
  examples-nextjs/app/components/retrieve-values.tsx
  examples-nextjs/app/components/store-program.tsx
  examples-nextjs/app/components/store-values.tsx
  examples-nextjs/app/components/update-permissions.tsx
  examples-nextjs/app/components/update-values.tsx
  examples-nextjs/app/layout.tsx
  examples-nextjs/app/page.tsx
  examples-nextjs/next-env.d.ts
  examples-nextjs/next.config.mjs
  examples-nextjs/package.json
  examples-nextjs/tsconfig.json
Due: biome-check, tsc-check

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore(wasm): add `v0.7.0-rc.42` artefacts
  .gitignore
  client-wasm/commit-sha.txt
  client-wasm/dist/index.d.ts
  client-wasm/dist/index.js
  client-wasm/dist/index_bg.js
  client-wasm/dist/index_bg.wasm
  client-wasm/dist/index_bg.wasm.d.ts
  client-wasm/src/index.js
Due: biome-check, tsc-check

chore(lint): remove obsolete paths and biome-ignores
  biome.jsonc
  client-vms/vitest.config.ts
  commitlint.config.ts
Due: biome-check, tsc-check

ci(wasm): use `v0.7.0-rc.42` in ci tests
  .github/workflows/ci.yaml
Due: none

feat: add `assertIsDefined` util to non-null assertions
  client-vms/src/types/values-permissions.ts
  client-vms/src/util.ts
  client-vms/src/vm/builder.ts
Due: biome-check, tsc-check

feat(hooks): finish overwrite and update permissions hooks
  client-react-hooks/src/use-nil-overwrite-permissions.ts
  client-react-hooks/src/use-nil-update-permissions.ts
  examples-nextjs/app/components/overwrite-permissions.tsx
  examples-nextjs/app/components/update-permissions.tsx
Due: biome-check, tsc-check

test(vm): fix accidental hard coded uuid; mark describes as sequential
  client-vms/tests/client.test.ts
Due: biome-check, tsc-check

feat(vm): improve permission rule uniqueness guarantees
  client-vms/src/types/compute-permission-command.ts
  client-vms/src/types/values-permissions.ts
  client-vms/src/vm/operation/overwrite-permissions.ts
  client-vms/src/vm/operation/update-permissions.ts
Due: biome-check, tsc-check

feat(vm): add `toObject` builder functions for easier stringification
  client-vms/src/types/compute-permission-command.ts
  client-vms/src/types/permission-command.ts
  client-vms/src/types/values-permissions.ts
  client-vms/src/vm/operation/update-permissions.ts
Due: biome-check, tsc-check

refactor(nextjs): unify and simplify hook examples
  examples-nextjs/app/components/delete-values.tsx
  examples-nextjs/app/components/invoke-compute.tsx
  examples-nextjs/app/components/retrieve-compute-results.tsx
  examples-nextjs/app/components/retrieve-permissions.tsx
  examples-nextjs/app/components/retrieve-values.tsx
  examples-nextjs/app/components/store-program.tsx
  examples-nextjs/app/components/store-values.tsx
  examples-nextjs/app/components/update-values.tsx
  examples-nextjs/app/layout.tsx
Due: biome-check, tsc-check

fix(test): avoid using package.json's exports field for tests
  client-vms/tests/retry.test.ts
  client-vms/tests/wasm.test.ts
Due: biome-check, tsc-check

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  tsc-check: any of: *.{ts,tsx}
