Repository NillionNetwork/client-ts: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, tsc-check

lefthook.yml:

pre-commit:
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    tsc-check:
      glob: "*.{ts,tsx}"
      run: pnpm exec tsc -p client-vms/tsconfig.json
      stage_fixed: true

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {push_files}

chore: bump deps; tag `@nillion/*` pkgs `0.2.0-rc.1`
  client-react-hooks/package.json
  client-vms/package.json
  client-wasm/package.json
  examples-nextjs/package.json
  pnpm-lock.yaml
Due: biome-check

ci: add CD workflow for 'next' and 'latest'; lift LICENSE into root
  .github/workflows/cd.yaml
  .github/workflows/publish.yaml
  client-react-hooks/LICENSE
  client-vms/LICENSE
  client-wasm/LICENSE
  client-wasm/package.json
Due: biome-check

ci: remove `workflow_dispatch` for CI workflow
  .github/workflows/ci.yaml
Due: none

ci: remove non-existent pnpm cli switch
  .github/workflows/cd.yaml
Due: none

docs: add simplified README.md
  README.md
Due: none

feat(vm): rename StoreValuesBuilder `update(id: Uuid)` to `id(id: Uuid)`
  client-react-hooks/src/use-nil-store-values.ts
  client-vms/src/vm/operation/store-values.ts
Due: biome-check, tsc-check

feat(nextjs): add more expressive store then update example to show values replaced
  examples-nextjs/app/components/store-values.tsx
  examples-nextjs/app/components/update-values.tsx
Due: biome-check, tsc-check

fix(vm): add Uint8Array as union type on `NadaValuesRecord`
  client-vms/src/types/types.ts
Due: biome-check, tsc-check

feat(vms)!: drop `VmClientBuilder.authTokenTtl(1)` because Ttl is hardcoded in auth.ts
  client-react-hooks/src/create-client.ts
  client-vms/src/vm/builder.ts
  client-vms/tests/client.test.ts
Due: biome-check, tsc-check

docs(vms): add TSDoc for `VmClient` and `VmClientBuilder`
  client-vms/src/vm/builder.ts
  client-vms/src/vm/client.ts
  client-vms/tests/client.test.ts
Due: biome-check, tsc-check

feat: add `createLogger(module: string)` to create logger appropriate for env
  client-react-hooks/package.json
  client-react-hooks/src/index.ts
  client-react-hooks/src/logger.ts
  client-react-hooks/src/logging.ts
  client-react-hooks/src/nillion-provider.tsx
  client-react-hooks/src/use-nil-store-values.ts
  client-vms/src/index.ts
  client-vms/src/logger.ts
  client-vms/src/payment/client.ts
  pnpm-lock.yaml
Due: biome-check, tsc-check

feat(hooks): add `devnet` config and apply user overrides in `createClient` helper
  README.md
  client-react-hooks/package.json
  client-react-hooks/src/create-client.ts
  pnpm-lock.yaml
Due: biome-check, tsc-check

chore(release): v0.2.0-rc.2
  client-react-hooks/package.json
  client-vms/package.json
  client-wasm/package.json
  examples-nextjs/package.json
Due: biome-check

ci: tidy git hooks, add commit lint check
  client-wasm/package.json
  examples-nextjs/package.json
  examples-nextjs/tsconfig.json
  lefthook.yml
Due: biome-check

fix: add pino logger fallback without `pino-pretty`
  client-vms/src/logger.ts
Due: biome-check, tsc-check

chore(release): v0.2.0-rc.3
  client-react-hooks/package.json
  client-vms/package.json
  client-wasm/package.json
  examples-nextjs/package.json
Due: biome-check

chore(deps): update to `pnpm@9.14.2`
  package.json
Due: biome-check

chore(wasm): bump artefacts to nillion `v0.7.0-rc.55` for release
  .github/workflows/ci.yaml
  client-wasm/commit-sha.txt
  client-wasm/dist/index.d.ts
  client-wasm/dist/index.js
  client-wasm/dist/index_bg.wasm
  client-wasm/dist/index_bg.wasm.d.ts
  client-wasm/package.json
  client-wasm/src/index.js
Due: biome-check, tsc-check

chore(deps): bump all to latest
  client-vms/package.json
  client-vms/tests-nada-programs/requirements.txt
  package.json
  pnpm-lock.yaml
Due: biome-check

fix(nextjs): add symlink workaround for building with wasm artefact
  examples-nextjs/next.config.mjs
Due: biome-check

chore(release): 0.2.0
  client-react-hooks/package.json
  client-vms/package.json
  client-wasm/package.json
  examples-nextjs/package.json
Due: biome-check

feat(logging): drop `pino` for `debug`
  client-react-hooks/package.json
  client-react-hooks/src/logger.ts
  client-vms/package.json
  client-vms/src/logger.ts
  client-vms/src/payment/client.ts
  client-vms/src/vm/builder.ts
  client-vms/src/vm/operation/delete-values.ts
  client-vms/src/vm/operation/invoke-compute.ts
  client-vms/src/vm/operation/overwrite-permissions.ts
  client-vms/src/vm/operation/query-pool-status.ts
  client-vms/src/vm/operation/retrieve-compute-result.ts
  client-vms/src/vm/operation/retrieve-permissions.ts
  client-vms/src/vm/operation/retrieve-values.ts
  client-vms/src/vm/operation/retry-client.ts
  client-vms/src/vm/operation/store-program.ts
  client-vms/src/vm/operation/store-values.ts
  client-vms/src/vm/operation/update-permissions.ts
  client-vms/tests/client.test.ts
  pnpm-lock.yaml
Due: biome-check, tsc-check

feat(vm): remove keplr related code
  client-vms/package.json
  client-vms/src/configs.ts
  client-vms/src/payment/wallet.ts
Due: biome-check, tsc-check

feat(vms): update proto files to network v0.7.0-rc.55
  .gitignore
  client-vms/proto/nillion/payments/v1/quote.proto
  client-vms/proto/nillion/permissions/v1/permissions.proto
  client-vms/proto/nillion/preprocessing/v1/element.proto
  client-vms/proto/nillion/preprocessing/v1/generate.proto
  client-vms/proto/nillion/preprocessing/v1/material.proto
  client-vms/proto/nillion/preprocessing/v1/service.proto
  client-vms/proto/nillion/preprocessing/v1/stream.proto
  client-vms/src/gen-proto/nillion/preprocessing/v1/material_pb.ts
Due: biome-check, tsc-check

feat(hooks): improve `createClient` to support v0.7.0 testnet, devnet and keplr
  client-react-hooks/package.json
  client-react-hooks/src/create-client.ts
  client-react-hooks/src/index.ts
  client-react-hooks/src/keplr.ts
Due: biome-check, tsc-check

feat(nextjs): update example to use testnet + keplr
  .gitignore
  examples-nextjs/app/page.tsx
  pnpm-lock.yaml
Due: biome-check, tsc-check

ci: rebuild protobuf ts bindings in scripts
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
  client-wasm/package.json
Due: biome-check

chore(release): 0.2.1
  client-react-hooks/package.json
  client-vms/package.json
  examples-nextjs/package.json
Due: biome-check

ci: set nilup version to `v0.7.0`
  .github/workflows/ci.yaml
Due: none

ci(react): build client-vms so publish correctly resolves types
  .github/workflows/cd.yaml
Due: none

Update store.proto
  client-vms/proto/nillion/values/v1/store.proto
Due: none

Update builder.ts
  client-vms/src/vm/builder.ts
Due: biome-check, tsc-check

chore: remove particles
  client-vms/src/vm/operation/store-values.ts
  client-wasm/dist/index.d.ts
  client-wasm/dist/index_bg.js
  client-wasm/dist/index_bg.wasm
  client-wasm/dist/index_bg.wasm.d.ts
Due: biome-check, tsc-check

chore: update protobuf files
  client-vms/proto/nillion/membership/v1/service.proto
  client-vms/proto/nillion/membership/v1/version.proto
  client-vms/proto/nillion/payments/v1/balance.proto
  client-vms/proto/nillion/payments/v1/config.proto
  client-vms/proto/nillion/payments/v1/quote.proto
  client-vms/proto/nillion/payments/v1/receipt.proto
  client-vms/proto/nillion/payments/v1/service.proto
  client-vms/proto/nillion/preprocessing/v1/element.proto
  client-vms/proto/nillion/preprocessing/v1/generate.proto
  client-vms/src/gen-proto/nillion/membership/v1/service_pb.ts
  client-vms/src/gen-proto/nillion/membership/v1/version_pb.ts
  client-vms/src/gen-proto/nillion/payments/v1/balance_pb.ts
  client-vms/src/gen-proto/nillion/payments/v1/config_pb.ts
  client-vms/src/gen-proto/nillion/payments/v1/quote_pb.ts
  client-vms/src/gen-proto/nillion/payments/v1/receipt_pb.ts
  client-vms/src/gen-proto/nillion/payments/v1/service_pb.ts
  client-vms/src/gen-proto/nillion/preprocessing/v1/element_pb.ts
  client-vms/src/gen-proto/nillion/preprocessing/v1/generate_pb.ts
  client-wasm/package.json
Due: biome-check, tsc-check

feat: support for Ecdsa Private Key and Ecdsa Digest Message
  client-vms/tests/wasm.test.ts
  client-wasm/dist/index.d.ts
  client-wasm/dist/index_bg.js
  client-wasm/dist/index_bg.wasm
  client-wasm/dist/index_bg.wasm.d.ts
Due: biome-check, tsc-check

feat: support for Ecdsa Signature
  client-vms/src/types/types.ts
  client-vms/tests/wasm.test.ts
  client-wasm/dist/index.d.ts
  client-wasm/dist/index_bg.js
  client-wasm/dist/index_bg.wasm
  client-wasm/dist/index_bg.wasm.d.ts
Due: biome-check, tsc-check

feat: add tests for signatures and fix issues
  client-vms/src/types/types.ts
  client-vms/src/types/values-permissions.ts
  client-vms/tests/helpers.ts
  client-vms/tests/signature.test.ts
  client-vms/tests/wasm.test.ts
Due: biome-check, tsc-check

feat: added a unit test to compute with store ids
  client-vms/tests/client.test.ts
Due: biome-check, tsc-check

feat: set nilup version to v0.9.0-rc.17
  .github/workflows/ci.yaml
  client-wasm/commit-sha.txt
Due: none
